<table class="table table-bordered table-striped table-condensed table-hover">
  <thead>
    <% current_user.blogs.each do |blog| %>

      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Category</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
        <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= blog.category %></td>
        <td><%= link_to 'Show', blog , class: "bg-gray-400 hover:bg-gray-500 text-gray-800 font-bold py-2 px-4 rounded" %></td>

          <td><%= link_to 'Edit', edit_blog_path(blog), class: "btn btn-sm btn-outlined btn-default" %></td>

          <td><%= link_to 'Delete', blog, method: :delete, class: "btn btn-sm btn-outlined btn-default", data: { confirm: "Are you sure?" } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New blog', new_blog_path, class: "btn btn-sm btn-outlined btn-default" %>


