<div class="py-12 bg-white">
  <div class="max-w-screen-xl px-4 mx-auto sm:px-6 lg:px-8">

    <main class="max-w-screen-xl px-4 mx-auto mt-10 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
      <div class="sm:text-center lg:text-left">
        <h2 class="text-4xl font-extrabold leading-10 tracking-tight text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
          <%= @job.title.titleize %>
          <br class="xl:hidden">
          <span class="text-indigo-600">Position</span>
        </h2>

        <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
          <%= @job.description %>
        </p>
                
      </div>
    </main>


    <p>
      <strong>Company Name:</strong>
      <%= link_to @job.company.name, @job.company %>
    </p>

    <p>
      <strong>Company Logo:</strong>
      <%= image_tag(@job.company.company_logo.variant(resize: '100x100!').processed, class: "rounded-full h-32 w-32 mx-auto") %>
    </p>

    <p>
      <strong>Posted by:</strong>
      <%= @job.company.user.name %>
    </p>

    <p>
      <strong>Company Statement:</strong>
      <%= @job.company_statement %>
    </p>


    <p>
      <strong>Link to apply:</strong>
      <%= @job.link_to_apply %>
    </p>

    <div class="mt-10">
      <ul class="md:grid md:grid-cols-4 md:gap-x-8 md:gap-y-10">
        <li class="inline-block f6 ph2">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center w-64 h-12 text-white bg-indigo-500 rounded-md">          
                <%= @job.region %>
              </div>
            </div>
          </div>  
        </li>
        <li class="inline-block f6 ph2">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center w-64 h-12 text-white bg-gray-500 rounded-md">          
                <%= @job.category %>
              </div>
            </div>
          </div>  
        </li>
        <li class="inline-block f6 ph2">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center w-64 h-12 text-white bg-red-500 rounded-md">          
                <%= @job.job_type %>
              </div>
            </div>
          </div>  
        </li>
        <% if @job.remote? %>   
          <li class="inline-block f6 ph2">
            <div class="flex">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center w-64 h-12 text-white bg-blue-500 rounded-md">          
                  <strong> Remote Job</strong>
                </div>
              </div>
            </div>  
          </li>
        <% else%>
          <li class="inline-block f6 ph2">
            <div class="flex">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center w-64 h-12 text-white bg-green-500 rounded-md">          
                  <strong>Not a Remote Job</strong>
                </div>
              </div>
            </div>  
          </li>
        <% end %>    
      </ul>
    </div>



    <%= link_to 'Edit', edit_job_path(@job) %> |
    <%= link_to 'Back', jobs_path %>
  </div>
</div>