<div class="flex flex-wrap items-center justify-center mx-auto">
  <div class="w-full">
    <%= render "1_first_intro_section" %>
    <%= render "wavey_line" %>
    <%= render "2_second_section_home_companies" %>
    <%= render "3_third_section_home_jobs" %>
    <%= render "4_forth_section_home_events" %> 
    <%= render "5_fifth_section_home_blogs" %> 
  </div>
</div>





<% if signed_in? %>
  <% if current_user.admin? %>
    <h3>Welcome  Admin!</h3>
  <% elsif current_user.client? %>
    <h3>Welcome, Client!</h3>
  <% else %>
    <h3>Welcome Candidate!</h3>
  <% end %>
<% else %>
  <h3>Welcome Guest</h3>
<% end %>


