<div class="container flex flex-wrap items-center justify-center mx-auto">
  <main class="w-full max-w-screen-xl px-4 mx-auto mt-10 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
    <div class="flex flex-wrap items-center justify-center sm:text-center lg:text-left">
      <h2 class="text-4xl font-extrabold leading-10 tracking-tight text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
        Built In Toronto
        <br class="xl:hidden">
        <span class="text-indigo-600">online business</span>
      </h2>
      <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
        Experience the startup ecosystem — invest in startups, research the fastest-growing companies, and find a job you love.
      </p>
      <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
        <div class="rounded-md shadow">
          <a href="/users" class="flex items-center justify-center w-full px-8 py-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo md:py-4 md:text-lg md:px-10">
            Join The Community
          </a>
        </div>
        <div class="mt-3 sm:mt-0 sm:ml-3">
          <a href="/users" class="flex items-center justify-center w-full px-8 py-3 text-base font-medium leading-6 text-indigo-700 transition duration-150 ease-in-out bg-indigo-100 border border-transparent rounded-md hover:text-indigo-600 hover:bg-indigo-50 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-300 md:py-4 md:text-lg md:px-10">
            Learn More about the Community
          </a>
        </div>
      </div>
    </div>

    <div class="max-w-lg px-4 mx-auto mt-16">
      <svg class="fill-current" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 431 17" xmlns="http://www.w3.org/2000/svg">
      <path d="m331.207 7.151c.087-.004.173-.009.26-.013h.003c-.089.004-.174.009-.263.013zm81.666-.112c-1.547.034-3.098.055-4.642.11-2.133.076-4.265.151-6.398.227-3.535.126-7.048.384-10.493.779-3.684.424-7.249 1.1-10.611 1.973-.672.174-1.332.365-2.025.517-.744.163-1.489.327-2.233.49-1.057.206-2.117.4-3.206.559-1.258.185-2.552.307-3.855.389-1.134.041-2.263.052-3.405.034-1.081-.017-2.159-.088-3.232-.178-1.469-.154-2.908-.348-4.338-.595-1.504-.26-2.966-.596-4.41-.942-2.477-.628-4.858-1.335-7.178-2.12-1.092-.37-2.175-.747-3.24-1.136-1.287-.473-2.557-.947-3.886-1.383-1.019-.334-2.049-.66-3.152-.906-.722-.16-1.426-.283-2.177-.39-.736-.105-1.522-.143-2.274-.178-.456-.004-.911.011-1.36.044-.664.042-1.286.107-1.93.197-.997.138-1.936.413-2.853.649-1.867.484-3.731.969-5.592 1.46-2.357.619-4.736 1.222-7.177 1.747-1.49.289-2.998.541-4.536.756-2.019.279-4.094.453-6.172.581-2.005.093-4.008.137-6.031.11-2.281-.029-4.566-.204-6.828-.4-2.867-.272-5.691-.632-8.507-1.047-2.599-.385-5.147-.848-7.623-1.43-2.465-.621-4.88-1.298-7.23-2.038-2.665-.84-5.433-1.609-8.303-2.213-1.136-.239-2.33-.402-3.511-.553-1.366-.173-2.766-.26-4.159-.276-1.395-.014-2.815.111-4.168.258-1.397.153-2.721.451-4.005.764-3.111.758-5.831 1.875-8.594 2.922-1.66.628-3.271 1.294-4.898 1.945-1.359.53-2.716 1.061-4.146 1.538-1.492.498-3.069.919-4.703 1.275-.759.147-1.521.279-2.302.397-1.018.153-2.075.239-3.13.302-.419.015-.836.019-1.257.014-.301-.003-.6-.015-.898-.035-.856-.113-1.669-.254-2.483-.433-2.908-.823-5.648-1.789-8.237-2.878-1.242-.548-2.444-1.116-3.604-1.713-.81-.416-1.62-.833-2.432-1.25-2.111-1.084-3.987-2.305-6.31-3.269-.965-.402-1.948-.758-3.031-1.061-.604-.168-1.248-.293-1.891-.405-.214-.027-.424-.054-.636-.083-.443-.04-.888-.08-1.334-.121-.216-.011-.432-.022-.648-.034-.082-.003-.161-.005-.241-.007-.4-.007-.798.004-1.194.032-.781.034-1.511.122-2.267.225-1.471.2-2.875.5-4.28.799-1.147.244-2.272.51-3.406.769-.799.184-1.609.356-2.381.568-1.216.331-2.432.663-3.645.994-.613.166-1.236.322-1.826.508-1.097.348-2.195.695-3.296 1.043-.828.262-1.672.514-2.484.788-2.043.687-4.08 1.375-6.12 2.063-4.404 1.484-8.859 2.94-13.732 3.972-1.078.212-2.162.408-3.267.581-1.366.215-2.774.34-4.193.434-.6.026-1.199.042-1.808.049-.888.011-1.775-.039-2.66-.104-1.274-.138-2.498-.329-3.71-.591-1.314-.356-2.539-.777-3.726-1.248-1.853-.838-3.518-1.775-5.166-2.728-.817-.473-1.643-.94-2.467-1.41-.987-.564-2.059-1.083-3.141-1.593-.889-.419-1.841-.778-2.881-1.079-.596-.172-1.235-.307-1.863-.439-.619-.128-1.31-.153-1.956-.2-.425.005-.848.022-1.268.052-.604.065-1.189.155-1.746.293-.551.135-1.11.3-1.56.519-.465.23-.907.466-1.342.711-.829.466-1.564.989-2.334 1.483-.607.39-1.208.782-1.816 1.175-.704.455-1.441.897-2.16 1.345-1.426.889-3.03 1.686-4.767 2.397-1.345.491-2.753.913-4.258 1.255-1.372.249-2.762.412-4.209.515-2.046.076-4.066.015-6.109-.147-3.228-.342-6.331-.916-9.352-1.634-2.751-.696-5.38-1.5-7.967-2.365-1.333-.446-2.617-.933-3.896-1.419-1.289-.491-2.577-.98-3.852-1.48-1.285-.507-2.558-1.019-3.893-1.487-1.366-.477-2.776-.915-4.236-1.302-2.688-.713-5.611-1.202-8.583-1.231-.688-.007-1.398.033-2.076.082-.725.052-1.426.116-2.138.207-.633.08-1.247.213-1.85.338-.657.137-1.309.28-1.963.424-2.866.633-5.584 1.39-8.186 2.281-2.316.793-4.459 1.731-6.386 2.774-.894.484-1.735.98-2.519 1.516-.351.239-.677.528-.867.82-.077.118-.155.237-.234.355-.091.256-.183.509-.275.765-.122.339-.018.672.461.935.449.247 1.131.361 1.743.279.428-.057.858-.114 1.289-.172.615-.082 1.169-.219 1.739-.36.872-.215 1.107-.855.642-1.289-.253-.234-.637-.384-1.065-.449 1.54-.939 3.325-1.772 5.187-2.525 3.006-1.148 6.275-2.063 9.724-2.797.778-.158 1.561-.312 2.347-.459.989-.185 1.999-.284 3.037-.35.916-.027 1.806-.018 2.726.034.609.064 1.201.143 1.807.238.878.137 1.73.331 2.573.528 1.648.427 3.18.947 4.71 1.49 1.774.629 3.411 1.367 5.114 2.051 1.68.674 3.366 1.346 5.082 1.992 1.701.642 3.478 1.228 5.266 1.794 3.474 1.1 7.181 2.01 10.997 2.681 3.918.69 8.116 1.013 12.168.782 1.91-.11 3.734-.323 5.508-.7 1.714-.363 3.307-.83 4.813-1.389 1.639-.605 3.124-1.308 4.503-2.072.731-.406 1.408-.833 2.085-1.264.985-.626 1.949-1.258 2.907-1.896 1.188-.789 2.335-1.599 3.701-2.305.101-.032.204-.061.311-.087.146-.024.294-.044.446-.061.048 0 .097.001.147.003.27.036.534.081.795.136.656.175 1.268.368 1.874.597 1.696.759 3.223 1.601 4.731 2.468 1.917 1.098 3.818 2.2 5.929 3.198.908.429 1.901.807 2.903 1.168 1.184.427 2.458.751 3.761 1.05 1.188.27 2.462.422 3.717.548 1.503.152 2.983.205 4.496.186 1.249-.016 2.504-.109 3.731-.208 1.493-.119 2.939-.338 4.364-.581 2.673-.458 5.246-1.065 7.728-1.743 3.641-.994 7.067-2.178 10.51-3.346 1.643-.558 3.269-1.138 4.941-1.671 1.919-.612 3.833-1.222 5.748-1.833.221-.069.461-.126.689-.189.655-.18 1.31-.36 1.963-.54.998-.274 1.996-.549 2.993-.824.196-.053.411-.096.614-.142.702-.164 1.403-.326 2.104-.49 1.177-.272 2.352-.541 3.545-.794 1.204-.227 2.42-.417 3.681-.548.255-.007.511-.005.767.004.213.007.426.017.637.032.536.07 1.032.151 1.538.254.873.254 1.685.544 2.479.864 2.405 1.117 4.524 2.404 6.821 3.585 1.436.741 2.874 1.468 4.4 2.156 1.38.623 2.822 1.206 4.298 1.759 1.571.589 3.243 1.092 4.91 1.594 1.51.454 3.2.784 4.897.917.774.061 1.494.085 2.27.082.973-.004 1.956-.087 2.91-.162 1.632-.127 3.19-.398 4.713-.707 1.736-.353 3.364-.786 4.956-1.283 2.207-.687 4.23-1.537 6.255-2.36 1.202-.489 2.401-.975 3.602-1.463.953-.37 1.906-.74 2.858-1.109 2.054-.797 4.213-1.491 6.552-2.031 1.157-.212 2.328-.349 3.549-.438.59-.021 1.171-.03 1.769-.023.52.004 1.044.042 1.563.086 1.868.206 3.665.505 5.424.909 1.522.385 3.022.795 4.493 1.237.915.275 1.807.572 2.713.856.886.279 1.798.531 2.708.786 1.748.491 3.52.952 5.329 1.374 1.891.441 3.869.774 5.838 1.09 4.127.664 8.318 1.139 12.558 1.478 2.145.171 4.293.257 6.452.268 2.128.01 4.246-.095 6.35-.213 3.776-.213 7.488-.714 10.995-1.439 2.252-.465 4.424-1.007 6.607-1.553 2.611-.652 5.184-1.36 7.843-1.962.532-.087 1.059-.149 1.616-.202.324-.008.646-.002.968.016.777.093 1.51.216 2.245.375 2.377.67 4.536 1.536 6.727 2.366 2.284.866 4.675 1.664 7.125 2.381 2.447.715 5.007 1.327 7.601 1.86 2.909.599 6.03.918 9.1 1.062 2.72.127 5.473-.01 8.116-.29 2.27-.24 4.442-.677 6.554-1.155.91-.206 1.817-.406 2.698-.643.574-.152 1.142-.305 1.713-.458.857-.228 1.761-.421 2.658-.608 4.335-.841 8.892-1.253 13.5-1.513 2.49-.12 5.002-.165 7.502-.242 2.167-.067 4.347-.08 6.52-.115 4.404-.07 8.831-.133 13.248-.042 1.692.035 3.103-.693 3.103-1.59 0-.888-1.411-1.692-3.103-1.709-3.354-.034-6.703.038-10.047.105-1.619.033-3.238.066-4.857.102z" fill-rule="nonzero"></path></svg>
    </div>
    <div class="pt-16 pb-16 bg-gray-100">
      <div class="container px-4 mx-auto lg:px-0">
        <h3 class="mb-6 text-3xl font-black text-center font-display">Latest Companies in Toronto</h3>
        <div class="grid justify-center grid-cols-1 gap-6 lg:grid-cols-6">
          <% @companies.each do |company| %>
            <article class="lg:col-span-2">
              <a href="/blog/lifestyle/reducing-meetings-reduces-stress/" class="">
                <%= image_tag company.company_logo.variant(resize_to_limit: [600, 400]), class:"h-auto max-w-full rounded-t", alt:"company.name" if company.company_logo.present? %>
              </a>

              <div class="p-6 overflow-hidden bg-white rounded-b shadow-sm">
                <header>
                  <h1 class="my-2 text-2xl font-black leading-none font-display">
                  <%= link_to company.name, company %>              
                  </h1>

                  <p class="text-sm text-gray-600">Found Date <%= company.found_date %>
                        <span>by <%= link_to company.user.name, company.user, class: "underline", target: "_blank" %> </span>
                  </p>
                </header>
                <div class="mt-2 mb-4 font-serif text-lg">
                  <p><%= truncate(strip_tags(company.details.to_s), length: 140) %></p>
                </div>
                <%= link_to "View Company", company, class: "btn btn-green" %> 
              </div>
            </article>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>





