<div class="mx-auto">
  <%= form_with(model: company, multipart: true, local: true, id:"new_company") do |form| %>
    <% if company.errors.any? %>
      <div id="error_explanation" class="p-6 mb-5 text-red-500 bg-white rounded">
        <h2 class="font-bold text-red-500"><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

        <ul>
          <% company.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="grid sm:gap-4 sm:mx-2 grid-cols-24 sm:gap-y-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-4">
      <!-- comany name -->
      <div class="col-span-4 row-span-1 mt-2 mb-4">
        <%= form.label :name, "Company Name", class: "text-base font-semibold leading-5 text-gray-900 mb-2 inline-block" %>
        <%= render "required_icon" %>
        <%= form.text_field :name, class: "input", required: 'required' %> 
        <p class="mt-2 text-sm text-gray-600">
          Example: “Urban Cottage”. Enter your company or organization’s name.
        </p>
      </div>

      <!-- comany logo -->
      <div class="flex row-span-1 mb-4 text-center">
        <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
          <%= form.file_field :company_logo, direct_upload: true, class: 'form-input py-10', accept: 'image/png, image/jpeg, image/gif, image/tiff', size_limit: 2_000_000, data: { target: 'dropzone.input' } %>
          <div class="text-gray-600 dropzone-msg dz-message needsclick ">
            <h3 class="text-base font-bold dropzone-msg-title">Drag or click to upload your Company logo</h3>
            <span class="text-xs dropzone-msg-desc">
              Choose a square image with a solid background color of at least 100x100px. 
              <br/>2 MB file size maximum.
              <%= render "required_icon" %>
            </span>
            <% if company.company_logo.attached? %>
              <%= image_tag(company.logo_resize, class: "rounded-full h-20 w-20 mx-auto mt-2") %>
            <% end %>
          </div>          
        </div>        
      </div>

      <!-- company_statement -->
      <div class="col-span-3 row-span-1 mt-2 mb-4">
        <%= form.label :company_statement, "Company Statement", class: "text-base font-semibold leading-5 text-gray-900 mb-2 inline-block" %>
        <%= render "required_icon" %>
        <%= form.rich_text_area :company_statement, class: "input w-full", required: 'required'%> 
        <p class="mt-2 text-sm text-gray-600">
          Enter your company or organization’s mission statement. This will be displayed on your company’s profile. Check these <a class="text-indigo-500 underline hover:no-underline" href="https://topnonprofits.com/examples/nonprofit-mission-statements/" target="_blank"> Mission Statements Examples.</a>
        </p>
      </div>

      <!-- comany images -->
      <div class="col-span-4 row-span-2 mb-4">
        <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="6">
        <%= form.file_field :company_images, multiple: true, direct_upload: true, class: 'form-input py-10', accept: 'image/png, image/jpeg, image/gif, image/tiff', size_limit: 2_000_000, data: { target: 'dropzone.input' } %>
        <div class="text-gray-600 dropzone-msg dz-message needsclick">
          <h3 class="text-base font-bold dropzone-msg-title">Drag or click to upload your Company gallery</h3>
          <span class="text-sm dropzone-msg-desc">
            2 MB file size maximum.<br/>
            Stand out with quality images of at least 700x700px (Maximum 6 photos)         
          </span>
          </div>
        </div>
      </div>
      <!-- basic title -->
      <div class="col-span-4 row-span-4">
        <div class="mt-10 mb-8">
          <h3 class="text-2xl font-bold leading-8 text-indigo-700 sm:text-3xl sm:leading-10">Brilliant basics</h3>
            <span class="text-base text-gray-600">Get the basics right and you are off to a better start</span>      
        </div>
      </div>
      <!-- comany details -->
      <div class="col-span-4 row-span-1 mt-2 mb-4">
        <%= form.label :details, "Company details", class: "text-base font-semibold leading-5 text-gray-900 mb-2 inline-block" %>
        <%= render "required_icon" %>
        <%= form.rich_text_area :details, class: "input w-full", required: 'required'%> 
        <p class="mt-2 text-sm text-gray-600">
          Tell Us More About Your Company/startup, what problem you are solving and why.
        </p>
      </div>

      <!-- comany email -->
      <div class="col-span-2 row-span-1 mb-4">
        <%= form.label :email, "Company email", class: "text-base font-semibold leading-5 text-gray-900 mb-2 inline-block" %>
        <%= render "required_icon" %>
        <%= form.text_field :email, class: "input" %>
        <p class="mt-2 text-sm text-gray-600">
          This email is public, although it is not required, it increases compay trust with prospocet.
        </p>            
      </div>

      <!-- comany website -->
      <div class="col-span-2 row-span-1 mb-4">
        <%= form.label :website, "Company's Website URL", class: "text-base font-semibold leading-5 text-gray-900 mb-2 inline-block" %>
        <%= render "required_icon" %>
        <%= form.text_field :website, class: "input", required: 'required' %>
        <p class="mt-2 text-sm text-gray-600">
          Example: urbancottage.net
        </p>            
      </div>
          
      <!-- comany founded -->
      <div class="col-span-1 row-span-1 mb-4">
        <%= form.label :found_date, "Founded", class: "text-base font-semibold leading-5 text-gray-900 mb-2 inline-block" %>
        <%= render "required_icon" %>       
        <%= form.text_field :found_date, class: "input", required: 'required' %>
        <p class="mt-2 text-sm text-gray-600">
          The year your company was founded. Example: 1999, 2015 ...
        </p>            
      </div>

      <!-- comany HQ -->
      <div class="col-span-2 row-span-1 mb-4">
        <%= form.label :headquarter, "Company headquarter", class: "text-base font-semibold leading-5 text-gray-900 mb-2 inline-block" %>
        <%= render "required_icon" %>       
        <%= form.text_field :headquarter, class: "input", required: 'required' %>
        <p class="mt-2 text-sm text-gray-600">
          Example: "Toronto, Canada", "Cairo, Egypt"
        </p>            
      </div> 

      <!-- comany team size -->
      <div class="col-span-1 row-span-1 mb-4">
        <%= form.label :company_size, "Number of employees", class: "text-base font-semibold leading-5 text-gray-900 mb-2 inline-block" %>
        <%= render "required_icon" %>        
        <%= form.text_field :company_size, class: "input", required: 'required' %>
        <p class="mt-2 text-sm text-gray-600">
          Total number of all employees. Example: 100, 13, 1 
        </p>            
      </div>           
      
      <!-- company industries -->
      <%= render "industries_list", form: form %>
      <!-- company stages list -->
      <%= render "stages_list", form: form %>
      <!-- company business model -->
      <%= render "business_model", form: form %>

    </div>
<hr class="hr">
    <%= render "team_members", form: form %>

      <div class="mb-6">
        <%= form.submit class: "btn btn-default" %>
      </div>
    <% end %>
  </div>


