
<label>Member Information</label>

<div class='nested-fields'>  
  <%= form.hidden_field :_destroy %>

  <p><%= form.text_field :title, placeholder: "Memebr title" %></p>
  <p><%= form.text_field :first_name, :value => @company.user.first_name, placeholder: "First name" %></p>
  <p><%= form.text_field :last_name, placeholder: "Last Name" %></p>
  <p><%= form.text_field :profile_link, placeholder: "Profile Link" %></p>
  <p><%= form.text_field :email, placeholder: "Email" %></p>
  <p><%= form.file_field :member_photo %></p>

  <small>
    <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" } %>
  </small>
  
</div>
