
    <div class="flex items-start">
      <div class="ml-1">        
        <div class='nested-fields'>  
          <%= form.hidden_field :_destroy %>

          <p><%= form.text_field :title, placeholder: "Memebr title" %></p>
          <p><%= form.text_field :first_name, :value => current_user.first_name, placeholder: "First name" %></p>
          <p><%= form.text_field :last_name, :value => current_user.last_name, placeholder: "Last Name" %></p>
          <p><%= form.text_field :profile_link, placeholder: "Profile Link" %></p>
          <p><%= form.text_field :email, placeholder: "Email" %></p>
          <p><%= form.text_field :note, placeholder: "Note" %></p>

            
            

            <div class="mb-6">
            <%= form.label :member_photo, "Team Member photo" , class: "label" %>
            <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
            <%= form.file_field :member_photo, direct_upload: true, class: 'form-input py-10', accept: 'image/png, image/jpeg, image/gif, image/tiff', size_limit: 5_000_000, data: { target: 'dropzone.input' } %>
            <div class="text-gray-600 dropzone-msg dz-message needsclick">
              <h3 class="dropzone-msg-title">Drag here to upload or click here to browse for team photo</h3>
              <span class="text-sm dropzone-msg-desc">2 MB file size maximum. Allowed file types png, jpg.</span>
              </div>
            </div>
          </div>



          <small>
            <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" } %>
          </small>
          
        </div>
      <div>
    </div>









