<div class="container flex flex-wrap items-start justify-start mx-auto">
  <h1 class="text-4xl bold">Companies in Toronto</h1>

  <div class="flex flex-wrap items-start justify-start">
    <% @companies.each do |company| %>
      <div class="relative w-full p-2 lg:w-1/4 lg:mr-2">
        <%= image_tag company.company_logo.variant(resize_to_limit: [600, 400]), class: "rounded" if company.company_logo.present? %>
        <h3 class="mb-2 text-2xl font-bold"><%= company.name %></h3>
        <div class="my-1"><%= truncate(strip_tags(company.details.to_s), length: 140) %></div>
        <p>Email: <%= company.email %></p>
        <p>Webiste: <%= company.website %></p>
        <p>Found Date: <%= company.found_date %></p>
        <p class="text-sm italic opacity-75">Created by: <%= company.user.name %> </p>
        <%= link_to "View company", company, class: "btn btn-default inline-block text-center my-2" %>
        <% if author_of(company) %>
        <div class="absolute top-0 right-0 mt-2 mr-2">
          <%= link_to edit_company_path(company) do %>
            <svg class="w-6 h-6 text-white opacity-75 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <title>edit</title><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path></svg>
          <% end %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>