
<div class="container relative p-6 mx-auto text-gray-900 bg-white rounded-lg lg:p-10" id=<%= company_path(@company.id) %>>
  <div class="flex flex-wrap items-center justify-between w-full pb-4 mb-8">
      <div class="flex-1">
        <h1 class="text-3xl font-bold leading-none text-gray-800"><%= @company.name %></h1>
        
      </div>


      <div class="flex flex-wrap items-start justify-between w-full mb-6">
  
        <div class="w-full mt-6 lg:pr-10 lg:w-4/5 lg:mt-0">
          <div class="mb-6">
            <p class="text-sm font-semibold text-gray-500 uppercase">Details</p>
            <%= @company.details %>
          </div>        


        <div class="w-full lg:w-full">
          <div class="grid grid-cols-2 gap-2">
            <% (0...@company.company_images.count).each do |image| %>
              <%#= image_tag(@company.company_images[image], class: "rounded-lg md:w-90") %>
              <%= image_tag(@company.thumbnail(image), class: "rounded-lg") %>            
              <%#= image_tag(@company.company_images[image]) %>
            <% end %>
          </div>          
        </div>


        </div>   

        <div class="flex flex-wrap items-center justify-center w-full mx-auto lg:w-1/5 ">
          <% if @company.company_logo.attached? %>
            <%= image_tag(@company.logo_resize, class: "rounded-full h-56 w-56 mx-auto") %>
          <% else %>
            <div class="p-2 bg-gray-100 rounded">
              <div class="">
                <p class="text-xs font-bold text-gray-600 uppercase">COMPANY</p>
                <h3 class="text-2xl text-black"><%= @company.name %></h3>
                <%= image_tag image_path("image-not-found.png") %>
              </div>
            </div>
          <% end %>

          <h3 class="text-lg font-bold text-gray-800"><%= @company.name %></h3>
          <p class="text-sm italic text-gray-500">Created by <%= @company.user.name ||= @company.user.username %></p>

          <div class="items-start justify-start w-full mx-auto mt-6">
            <div class="mb-6">
              <p class="text-sm font-semibold text-gray-500 uppercase">Email</p>
              <%=mail_to @company.email, @company.email, subject: "Hi from Built In Toronto"%>
            </div>        

            <div class="mb-6">
              <p class="text-sm font-semibold text-gray-500 uppercase">Webiste</p>
              <p><%=link_to "http://" + @company.website, "http://#{@company.website}", target: '_blank' %></p>
            </div>
                      
            <% if @company.found_date.present? %>        
              <div class="mb-6 ">
                <p class="text-sm font-semibold text-gray-500 uppercase">Founded Date</p>
                <%= @company.found_date %>
              </div>
            <% end %>
            <% if @company.headquarter.present? %>
              <div class="mb-6 ">
                <p class="text-sm font-semibold text-gray-500 uppercase">Headquarter</p>
                <%= @company.headquarter %>
              </div>
            <% end %>
            <% if @company.company_size.present? %>
              <div class="mb-6 ">
                <p class="text-sm font-semibold text-gray-500 uppercase">Company Size</p>
                <%= @company.company_size %>
              </div>  
            <% end %>                 
            <% if @company.phone_number.present? %>
              <div class="mb-6 ">
                <p class="text-sm font-semibold text-gray-500 uppercase">Phone Number</p>
                <%= @company.phone_number %>
              </div>
            <% end %>
            <% if @company.business_model.present? %>
              <div class="mb-6 ">
                <p class="text-sm font-semibold text-gray-500 uppercase">Business Model</p>
                <%= @company.business_model %>
              </div>    
            <% end %>
            <% if @company.stage.present? %>
              <div class="mb-6 ">
                <p class="text-sm font-semibold text-gray-500 uppercase">Stage</p>
                <%= @company.stage %>
              </div>          
            <% end %>
            <% if @company.industry.present? %>
              <div class="mb-6 ">
                <p class="text-sm font-semibold text-gray-500 uppercase">Industry</p>
                <%= @company.industry %>
              </div>          
            <% end %>
          </div>              
        </div>  
        

        <% @company.team_members.each do |member| %>
          <div class="col-md-3 col-sm-3">
              <div class="thumbnail">
                <%= image_tag member.member_photo.variant(resize: '100x100!').processed, class: "rounded-full h-56 w-56 mx-auto", alt: member.title %>
                
                <div class="caption">
                  <h6 class="name"><%= member.title.capitalize %></h6>
                  <h6 class="name"><%= member.first_name.capitalize %></h6>
                  <h6 class="name"><%= member.last_name.capitalize %></h6>
                  <h6 class="name"><%= member.profile_link.capitalize %></h6>
                  <h6 class="name"><%= member.email.capitalize %></h6>
                </div>
              </div>
            </div>
        <% end %>


      </div>
  </div> 

    <div class="absolute top-0 right-0 mt-4 mr-4">
      <% if can? :manage, @company %>
        <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-sm btn-outlined btn-default" %>
      <% end %>
      <% if can? :manage, @company %>      
        <%= link_to 'Delete', company_path(@company), method: :delete, class: "btn btn-sm btn-outlined btn-default", data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
</div>   




