<% provide(:title, "My Dashboard") %>
<!DOCTYPE html>
<html lang="en" class="antialiased bg-white">
  <%= render 'shared/head' %>
  <body class="body" class="leading-normal text-gray-900" id="<%= controller.controller_name %>">
    <div>
      <header id="header" class="mb-4">
        <nav class="flex flex-wrap items-center justify-between px-3 py-3 text-gray-700 bg-indigo-500 border-b border-gray-800 lg:px-10">
          <div class="flex items-center mr-6 flex-no-shrink lg:w-1/4 xl:w-1/5">
            <%= link_to "BIT Home", root_path, class:"link text-lg tracking-wider font-semibold uppercase" %>
          </div>
          
          <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 text-white border border-gray-500 rounded hover:text-gray-200 hover:border-gray-200">
              <svg class="w-3 h-3 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
            </button>
          </div>
          
          <div class="items-center block w-full text-center lg:flex-1 lg:flex lg:text-left lg:w-3/4 xl:w-4/5">   
            <div class="lg:flex-grow">
              
            </div>        
             <%#= render navigation_links_partial_path %>     
             <%= render "shared/header" %>    
          </div>

        </nav>
        
      </header>
      <div class="w-full max-w-screen-xl px-6 mx-auto">
        <div class="-mx-6 lg:flex">          
          <div id="sidebar" class="fixed inset-0 hidden w-full h-full pt-16 -mb-16 bg-white border-b z-90 lg:-mb-0 lg:static lg:h-auto lg:overflow-y-visible lg:border-b-0 lg:pt-0 lg:w-1/4 lg:block lg:border-0 xl:w-1/5">
            <div class="h-full overflow-y-auto scrolling-touch bg-white lg:h-auto lg:block lg:relative lg:sticky lg:top-16 lg:bg-transparent">
              <nav class="px-6 pt-6 overflow-y-auto text-base lg:text-sm lg:py-12 lg:pl-6 lg:pr-8 sticky?lg:h-(screen-16)">
                <div class="mb-10">
                  <%= link_to my_companies_path, class:"mt-3 lg:mt-1 flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-600" do %>
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path>
                      <path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path>
                    </svg>
                    <span class="ml-3">My Companies</span>
                  <% end %>

                  <%= link_to my_jobs_path, class:"mt-3 lg:mt-1 flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-600" do %>
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path class="text-gray-400 fill-current" d="M3 6l9 4v12l-9-4V6zm14-3v2c0 1.1-2.24 2-5 2s-5-.9-5-2V3c0 1.1 2.24 2 5 2s5-.9 5-2z"></path>
                      <polygon class="text-gray-700 fill-current" points="21 6 12 10 12 22 21 18"></polygon>
                    </svg>
                    <span class="ml-3">My Jobs</span>
                  <% end %>


                  <%= link_to my_events_path, class:"mt-3 lg:mt-1 flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-600" do %>
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path class="text-gray-400 fill-current" d="M3 6l9 4v12l-9-4V6zm14-3v2c0 1.1-2.24 2-5 2s-5-.9-5-2V3c0 1.1 2.24 2 5 2s5-.9 5-2z"></path>
                      <polygon class="text-gray-700 fill-current" points="21 6 12 10 12 22 21 18"></polygon>
                    </svg>
                    <span class="ml-3">My events</span>
                  <% end %>

                  <%= link_to my_blogs_path, class:"mt-3 lg:mt-1 flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-600" do %>
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path class="text-gray-400 fill-current" d="M3 6l9 4v12l-9-4V6zm14-3v2c0 1.1-2.24 2-5 2s-5-.9-5-2V3c0 1.1 2.24 2 5 2s5-.9 5-2z"></path>
                      <polygon class="text-gray-700 fill-current" points="21 6 12 10 12 22 21 18"></polygon>
                    </svg>
                    <span class="ml-3">My blogs</span>
                  <% end %>

                  <%= link_to edit_user_registration_path, class:"mt-3 lg:mt-1 flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-600" do %>
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path class="text-gray-400 fill-current" d="M9 22c.19-.14.37-.3.54-.46L17.07 14H20a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2H9zM4 2h4a2 2 0 0 1 2 2v14a4 4 0 1 1-8 0V4c0-1.1.9-2 2-2zm2 17.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                      <path class="text-gray-700 fill-current" d="M11 18.66V7.34l2.07-2.07a2 2 0 0 1 2.83 0l2.83 2.83a2 2 0 0 1 0 2.83L11 18.66z"></path>
                    </svg>
                    <span class="ml-3">My Settings</span>
                  <% end %>

                  <%= link_to destroy_user_session_path, method: :delete, class:"mt-3 lg:mt-1 flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-600" do %>
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path class="text-gray-400 fill-current" d="M20.3 12.04l1.01 3a1 1 0 0 1-1.26 1.27l-3.01-1a7 7 0 1 1 3.27-3.27zM11 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                      <path class="text-gray-700 fill-current" d="M15.88 17.8a7 7 0 0 1-8.92 2.5l-3 1.01a1 1 0 0 1-1.27-1.26l1-3.01A6.97 6.97 0 0 1 5 9.1a9 9 0 0 0 10.88 8.7z"></path>
                    </svg>
                    <span class="ml-3">Signout</span>
                  <% end %>
                  
                </div>                              
              </nav>
            </div>
          </div>






          <div id="content-wrapper" class="w-full min-h-screen lg:static lg:max-h-full lg:overflow-visible lg:w-3/4 xl:w-4/5 ">
            <div id="content" class="flex">
              <div class="w-full pt-8 pb-16 lg:pt-28">
                  <div class="max-w-3xl mx-auto mb-6 markdown lg:ml-0 lg:mr-auto">
                  <h1 class="text-3xl text-blue-600 sm:text-green-600 md:text-indigo-600 lg:text-red-600 xl:text-gray-900">Dashboard</h1> 
                  <div class="mt-0 mb-4 text-gray-600">
                    

<section class="px-4 py-8">
  <h2 class="mb-2 text-3xl font-semibold font-heading">Support ticket list</h2>
  <p class="mb-4">List of tickets opend by customers</p>
  <div class="flex flex-wrap mb-8 -mx-4">
    <div class="w-full px-4 mb-6 lg:w-1/4 lg:mb-0">
      <div class="h-full">
        <div class="p-4 mb-2 text-center text-white bg-blue-500 rounded">
          <h3 class="text-3xl font-semibold leading-tight font-heading">448</h3>
          <span class="leading-none">Total Tickets</span>
        </div>
      </div>
    </div>
    <div class="w-full px-4 mb-6 lg:w-1/4 lg:mb-0">
      <div class="h-full">
        <div class="p-4 mb-2 text-center text-white bg-red-500 rounded">
          <h3 class="text-3xl font-semibold leading-tight font-heading">81</h3>
          <span class="leading-none">Responded</span>
        </div>
      </div>
    </div>
    <div class="w-full px-4 mb-6 lg:w-1/4 lg:mb-0">
      <div class="h-full">
        <div class="p-4 mb-2 text-center text-white bg-green-500 rounded">
          <h3 class="text-3xl font-semibold leading-tight font-heading">208</h3>
          <span class="leading-none">Resolved</span>
        </div>
      </div>
    </div>
    <div class="w-full px-4 mb-6 lg:w-1/4 lg:mb-0">
      <div class="h-full">
        <div class="p-4 mb-2 text-center text-white bg-gray-800 rounded">
          <h3 class="text-3xl font-semibold leading-tight font-heading">159</h3>
          <span class="leading-none">Peding</span>
        </div>
      </div>
    </div>
  </div>
  <table class="w-full table-auto">
    <thead>
      <tr><th class="px-2 py-2 border-t" scope="col">ID #</th><th class="px-2 py-2 border-t" scope="col">Opened By</th><th class="px-2 py-2 border-t" scope="col">Cust. Email</th><th class="px-2 py-2 border-t" scope="col">Subject</th><th class="px-2 py-2 text-center border-t" scope="col">Status</th><th class="px-2 py-2 text-center border-t" scope="col">Assign to</th><th class="px-2 py-2 text-center border-t" scope="col">Date</th><th class="px-2 py-2 text-center border-t" scope="col">Action</th></tr>
    </thead>
    <tbody>
      <tr>
        <td class="px-2 py-2 border-t">348</td>
        <td class="px-2 py-2 border-t"><a href="#"><img class="inline-block mr-2 rounded-full" src="placeholders/pictures/male_avatar.svg" alt="" height="40" width="40"> Lauren North</a></td>
        <td class="px-2 py-2 border-t">lauren@gmail.com</td>
        <td class="px-2 py-2 border-t">Where are my files?</td>
        <td class="px-2 py-2 text-center border-t"><span class="inline-block px-3 py-1 text-sm text-white bg-yellow-500 rounded-full">New</span></td>
        <td class="px-2 py-2 text-center border-t">Kelly Kapoor</td>
        <td class="px-2 py-2 text-center border-t">18-11-2018</td>
        <td class="px-2 py-2 text-center border-t"><a class="text-blue-700 hover:underline" href="#">edit</a></td>
      </tr>
      <tr>
        <td class="px-2 py-2 border-t">349</td>
        <td class="px-2 py-2 border-t"><a href="#"><img class="inline-block mr-2 rounded-full" src="placeholders/pictures/male_avatar.svg" alt="" height="40" width="40"> Kian Gray</a></td>
        <td class="px-2 py-2 border-t">kian.gray@gmail.com</td>
        <td class="px-2 py-2 border-t">I can't send file to my friend</td>
        <td class="px-2 py-2 text-center border-t"><span class="inline-block px-3 py-1 text-sm text-white bg-green-500 rounded-full">Resolved</span></td>
        <td class="px-2 py-2 text-center border-t">Kelly Kapoor</td>
        <td class="px-2 py-2 text-center border-t">20-11-2018</td>
        <td class="px-2 py-2 text-center border-t"><a class="text-blue-700 hover:underline" href="#">edit</a></td>
      </tr>
      <tr>
        <td class="px-2 py-2 border-t">350</td>
        <td class="px-2 py-2 border-t"><a href="#"><img class="inline-block mr-2 rounded-full" src="placeholders/pictures/male_avatar.svg" alt="" height="40" width="40"> Mollie Davey</a></td>
        <td class="px-2 py-2 border-t">mollie@davey.com</td>
        <td class="px-2 py-2 border-t">Compressed files have low quality</td>
        <td class="px-2 py-2 text-center border-t"><span class="inline-block px-3 py-1 text-sm text-white bg-green-500 rounded-full">Resolved</span></td>
        <td class="px-2 py-2 text-center border-t">Kelly Kapoor</td>
        <td class="px-2 py-2 text-center border-t">21-11-2018</td>
        <td class="px-2 py-2 text-center border-t"><a class="text-blue-700 hover:underline" href="#">edit</a></td>
      </tr>
      <tr>
        <td class="px-2 py-2 border-t">351</td>
        <td class="px-2 py-2 border-t"><a href="#"><img class="inline-block mr-2 rounded-full" src="placeholders/pictures/male_avatar.svg" alt="" height="40" width="40"> Josh Douglas</a></td>
        <td class="px-2 py-2 border-t">j.douglas@hotmail.com</td>
        <td class="px-2 py-2 border-t">My phone won't turn on</td>
        <td class="px-2 py-2 text-center border-t"><span class="inline-block px-3 py-1 text-sm text-white bg-gray-800 rounded-full">Pending</span></td>
        <td class="px-2 py-2 text-center border-t">Kelly Kapoor</td>
        <td class="px-2 py-2 text-center border-t">22-11-2018</td>
        <td class="px-2 py-2 text-center border-t"><a class="text-blue-700 hover:underline" href="#">edit</a></td>
      </tr>
      <tr>
        <td class="px-2 py-2 border-t">352</td>
        <td class="px-2 py-2 border-t"><a href="#"><img class="inline-block mr-2 rounded-full" src="placeholders/pictures/male_avatar.svg" alt="" height="40" width="40"> Jodie Field</a></td>
        <td class="px-2 py-2 border-t">jodie@field.com</td>
        <td class="px-2 py-2 border-t">How to change e-mail??</td>
        <td class="px-2 py-2 text-center border-t"><span class="inline-block px-3 py-1 text-sm text-white bg-yellow-500 rounded-full">New</span></td>
        <td class="px-2 py-2 text-center border-t">Kelly Kapoor</td>
        <td class="px-2 py-2 text-center border-t">22-11-2018</td>
        <td class="px-2 py-2 text-center border-t"><a class="text-blue-700 hover:underline" href="#">edit</a></td>
      </tr>
      <tr>
        <td class="px-2 py-2 border-t">353</td>
        <td class="px-2 py-2 border-t"><a href="#"><img class="inline-block mr-2 rounded-full" src="placeholders/pictures/male_avatar.svg" alt="" height="40" width="40"> Taylor Gill</a></td>
        <td class="px-2 py-2 border-t">taylor.gill777@hotmail.com</td>
        <td class="px-2 py-2 border-t">My files are corrupted</td>
        <td class="px-2 py-2 text-center border-t"><span class="inline-block px-3 py-1 text-sm text-white bg-green-500 rounded-full">Resolved</span></td>
        <td class="px-2 py-2 text-center border-t">Kelly Kapoor</td>
        <td class="px-2 py-2 text-center border-t">23-11-2018</td>
        <td class="px-2 py-2 text-center border-t"><a class="text-blue-700 hover:underline" href="#">edit</a></td>
      </tr>
    </tbody>
  </table>
</section>


                  </div> <hr class="my-8 border-b-2 border-gray-200">
                </div>            
                <div class="flex">content goes here</div>
              </div>
            </div>
          </div>  
        </div>
      </div>

    </div>
  </body>
</html>
