
 <p class="block mt-4 mb-2 lead lg:inline-block lg:mt-0 lg:mr-4 lg:mb-0">
  Welcome, 
    <strong><%= (current_user.name || current_user.email) %> ! </strong>
    <%= image_tag gravatar_for(current_user) , alt: current_user.name, title: current_user.name, class: "h-8 w-8 rounded-full mx" %>
</p> 

<%= link_to "New Company", new_company_path, class: "ml-8 font-medium text-gray-500 transition duration-150 ease-in-out hover:text-gray-900" %>
<%= link_to "My companies", mycompanies_path, class: "ml-8 font-medium text-gray-500 transition duration-150 ease-in-out hover:text-gray-900" %>
<%= link_to "Settings", edit_user_registration_path, class: "ml-8 font-medium text-gray-500 transition duration-150 ease-in-out hover:text-gray-900"%>

  <% if :admin? %>
    <%= link_to 'Community', users_path, class: "ml-8 font-medium text-black-500 transition duration-150 ease-in-out hover:text-gray-500" %>  
  <% end %>

<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "ml-8 font-medium text-indigo-600 transition duration-150 ease-in-out hover:text-indigo-900" %>